<h1>Games</h1>
<br>
<h4><%@games.each do |game|%>
    <a href="/games/<%=game.id%>"><%=game.name%></a>
    <br>
    <%=game[:rating]%>
    <br>
    <%=game[:genre]%>
    <br>
    <video width="320" height="240" controls>
        <source src="<%=game.clip%>" type="video/mp4">
    <%end%>
</h4>
